html {
	margin: 0px;
}

body {
	margin: 0;
	/*background-image: linear-gradient(to right, #667eea , #89f7fe);*/
}

* {
	font-family: 'Quicksand';
	text-decoration: none;
}

.header {
	background: white;
	margin-top: 20px;
	padding: 20px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	top: 100px;
	border-radius: 20px;
	box-shadow: 0px 4px 10px -2px #c6c6c6;
	border: 2px #fff200 dashed;
	/*background-color: #fff200;*/
}

.header>img {
	height: 10vh;
}

.semiFooter {
	display: grid;
	margin-top: 20px;
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 30px;
	background-color: #131817;
	color: white;
	text-align: center;
	font-size: 1rem;
	text-align: justify-all;
}

.signs {
	margin-top: 10px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
}

.foot {
	background-color: black;
	padding: 10px;
	color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
}

.forms {
	box-shadow: 0px 4px 10px -2px #c6c6c6;
	margin-left: 50%;
	margin-bottom: 10px;
	transform: translate(-50%, 0);
	width: 50%;
	text-align: center;
	padding: 20px;
	display: grid;
	border-radius: 20px;
	background: white;
}

.forms>form>legend {
	font-size: 1.8rem;
	text-align: center;
	padding: 20px;
}

.forms>form>input {
	background: white;
	border-radius: 5px;
	border: 1px #ff758c dashed;
	padding: 10px;
	margin: 5px;
	width: 80%;
}

.forms>form>button {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 20%;
	color: white;
	font-weight: bold;
	background: #4286f5;
	border: none;
}

.forms>form>div>button {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 20%;
	color: white;
	font-weight: bold;
	background: #4286f5;
	border: none;
}

.profilePic {
	width: 200px;
	padding: 10px;
	border: 1px red dashed;
	margin: 5px;
	border-radius: 10px;
}

.userRecipies>div {
	border: 1px red dashed;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

.userRecipies>div>h4 {
	margin-top: 0px;
	margin-bottom: 10px;
}
.userReviews>div>h4 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.userRecipies>div>p {
	width: 30%;
	margin: auto;
	color: white;
	background: #ff758c;
	font-size: 0.8rem;
	padding: 6px 20px 6px 20px;
	border-radius: 20px;
}

.userRecipies>div>p:hover {
	background: #764ba2;
	color: white;
	transition: 0.3s;
}

.userReviews>div {
	border: 1px cyan dashed;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

.userReviews>div>p {
	width: 30%;
	margin: auto;
	color: white;
	background: #ff758c;
	font-size: 0.8rem;
	padding: 6px 20px 6px 20px;
	border-radius: 20px;
}

.userReviews>div>p:hover {
	background: #764ba2;
	color: white;
	transition: 0.3s;
}


/*#signUpError{
	text-align: center;
	background: #ff758c;
	padding: 2px;
	border-radius: 20px;
}
*/

.manual-verification {
	box-shadow: 0px 4px 10px -2px #c6c6c6;
	margin-left: 50%;
	margin-bottom: 10px;
	transform: translate(-50%, 0);
	width: 50%;
	text-align: center;
	padding: 20px;
	display: grid;
	border-radius: 20px;
	background: white;
}

.manual-verification>button {
	padding: 10px;
	margin: 10px;
	width: 50%;
	color: black;
	background: white;
	font-weight: bold;
	/*background: #ff758c;*/
	border: 1px red dashed;
}

.manual-verification>form>button {
	padding: 10px;
	margin: 10px;
	width: 20%;
	color: white;
	font-weight: bold;
	background: #4286f5;
	border: none;
}

.termsAndConditions {
	text-align: left;
	/*	background: yellow;*/
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 10% 90%;
	justify-items: end;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.forms {
		width: 90%;
		margin-left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		padding: 20px;
		display: grid;
		border-radius: 20px;
		background: white;
	}
	.manual-verification {
		width: 90%;
	}
	.semiFooter {
		margin-top: 20px;
		padding: 30px;
		background-color: #131817;
		color: white;
		text-align: center;
		font-size: 10px;
		text-align: justify;
	}
	.signs {
		display: none;
	}
}