*{
	margin: 0px;
	padding: 0px;
}

.main{
	position: relative;
}

.box_3 img{
	top:3vh;
	margin: 5px;
	width: 25vh;
	height: 25vh;
	position: relative;
	left:50%;
	transform: translate(-50%,0%);
	border-radius: 100%;
	border-style: solid;
    border-color: #2196f3;
    border-width: 1.5vh;
}

.box_1 p{
	position: relative;
	top:5vh;
	width: 90%;
	left:50%;
	transform: translate(-50%,0%);
	font-size: 2.5vh;
	text-align: justify;
	font-family: 'Lato', sans-serif;
	color: #5b5b5b;
}
.work-button{
	text-align: center;
	position: relative;
	top:11vh;
	width: 20%;
	background:#8a4af3; 
	left:50%;
	transform: translate(-50%,0%);
	font-size: 2.5vh;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	padding:1vh;
	border-radius: 50vh;
	color: white;
}

.work-button:hover{
	background:#f37e21;
	color:black; 
}
#about{
	font-size: 3.5vh;
	font-weight: bold;
}

@media only screen and (min-width: 768px){
.box_1 p{
	width: 50%;
}

.work-button{
	width: 9%;
}

}