* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.main {
  position: relative;
}

.dp {
  top: 3vh;
  margin: 5px;
  width: 25vh;
  height: 25vh;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 100%;
  border-style: solid;
  border-color: #2196f3;
  border-width: 1.5vh;
}

.text-box p {
  position: relative;
  top: 4vh;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 2.5vh;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  color: #777777;
}

#hi {
  font-size: 3vh;
  font-weight: bold;
}
#bold {
  text-decoration: none;
  color: #5b5b5b;
  /* font-weight: bold; */
}
#bold:hover {
  color: #2196f3;
}
#works {
  color: #2196f3;
}
#works:hover {
  color: #ff9800;
}
@media only screen and (min-width: 900px) {
  .text-box p {
    width: 60%;
  }
}
